<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title></title>

    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap.css}" >

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/style.css}">

       <!-- Colors -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/colors/color1.css}" id="colors">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/responsive.css}">
    
    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/animate.css}">

    <!--[if lt IE 9]>
    <script src="../static/javascript/html5shiv.js"></script>
    <script src="../static/javascript/respond.min.js"></script>
    <![endif]-->
</head>

<body class="header-sticky">
    <!-- Preloader -->
    <section class="loading-overlay">
        <div class="Loading-Page">
            <h2 class="loader">加载中</h2>
        </div>
    </section>

    <!-- Boxed -->
    <div class="boxed">

        <div class="top">
            <div th:replace="top :: top"></div>
        </div><!-- /.top -->

        <!-- Header -->
        <header id="header" class="header header-classic clearfix">
            <div th:replace="header :: header"></div>
        </header><!-- /.header -->

        <div class="wrap-slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title">
                            <div class="breadcrumbs mgl2 pd-space">
                                <ul>
                                    <li><a href="/">首页</a></li>
                                    <li>关于我们</li>
                                </ul>
                            </div><!-- breadcrumb -->
                            <div class="page-content ">
                                <span>介绍</span>
                            </div>
                        </div><!-- page-title -->
                    </div>
                </div>

            </div><!-- container -->
        </div><!-- wrap-slider -->

        <section class="flat-row pdbottomv2 products-detail company">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="sidebar">
                            <div class="widget widget-nav-menu style2">
                                <ul class="widget-menu">
                                    <li class="active"><a href="company_overview.html">Company Overview</a></li>
                                    <li><a href="#1">整体介绍</a></li>
                                    <li><a href="#2">我们的优势</a></li>
                                    <li><a href="#3">承担的责任</a></li>
                                </ul>
                            </div>

                            <div class="widget widget-amazing">
                                <div class="flat-amazing">
                                    <span>联系方式</span>
                                    <p align="left">电话：0579-82361358</p>
                                    <p align="left">传真：0579-82361358</p>
                                    <p align="left">手机：18006558385</p>
                                    <p align="left">联系人：叶晓芳</p>
                                    <p align="left">网址：www.jhzhonglan.com</p>
                                    <p align="left">地址：浙江省金华市金义都市新区</p>
                                </div>
                            </div>

                            <div class="widget widget-help">
                                <h6>需要帮助吗？</h6>
                                <p>请联系我们最近的办事处或在线提交业务咨询。</p>
                                <button class="flat-btn btn-contact">联系我们</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="post-wrap">
                            <article class="post clearfix">
                                <div class="featured-post"><a name="1"></a>
                                    <img th:src="@{/images/new/portfolio/services1.jpg}" alt="image">
                                </div><!-- /.feature-post -->
                                <div class="content-post">
                                    <h3 class="text-center">树木拥有绿色，地球才有脉搏</h3>
                                    <div class="entry-excerpt">
                                        <div class="entry-content-text">
                                            <br />浙江金华中兰环保科技有限公司以深圳环保科学研究所为依托，是一家从事环保技术研发、环保设备研发、环保工程施工、环保设备生产、销售及安装。自公司成立以来，中兰环保重点在工业废气及粉尘处理领域一直开拓进取，环保污染防治领域积累了丰富的经验，承建了近300个环保项目，为政府和大企业客户提供创新技术和环境治理方案，是目前国内最知名最具实力的环境治理企业之一。
                                        </div>
                                        <div class="entry-content-text">
                                            中兰环保务实创新，结合社会环境特点及需求，在环保污染防治、工业废气处理、粉尘处理、污染修复、污水修复，污水处置等领域提供采购-施工（PC）--一体化模式、工程总承包EPC模式、建造-运营-移交BOT模式。
                                        </div>
                                        <div class="entry-content-text">
                                            中兰环保是高新技术企业，坚持以持续技术创新为客户提供安全可靠的解决方案并不断为客户创造价值。公司在深圳和北京设有研发机构，近50名研发人员专注于行业技术创新，公司拥有多项环保污染防止专利技术，是环保污染防治行业主要国家标准和行业标准的重要参编单位，已获得多项政府基金支持的研发项目。中兰环保是中国城市环境卫生协会常务理事单位、中国化工施工企业协会理事单位、国际土工合成材料施工协会（IAGI）会员单位、中国环境保护产业协会会员单位及中国石油和化学工业联合会会员单位，多次被省级工商部门评为“守合同重信用”单位，连续4年获得环境企业竞争力大奖，多项工程获得省市优质工程奖。
                                        </div>
                                        <a name="2"></a>
                                        <div class="entry-content-text">
                                            保护我们生存的环境，一直是中兰环保不懈追求的目标和社会责任。本着“专注，专业，责任，坚持”的坚定信念，实现社会、环境以及利益相关者的和谐共赢。公司一贯坚持“依靠科技、严格管理、精心制造、争创一流”的质量方针，贯彻“质量就是效益，质量是企业命脉”的原则。产品结合以色列过滤技术，专业致力于过滤净化、除垢，系统环保水处理节能产品的开发生产，应用与市场推广的新型企业组织。我公司拥有雄厚的技术创新力量，技术创业水平高，检测装备全；产品质量性能稳定，工艺精湛。公司密切接触用户，以求产品质量及售后服务体系与市场完美结合。得到了广泛的应用和广大客户的一致好评。
                                        </div>
                                    </div>
                                    <p>&nbsp;</p>


                                    <h3 class="text-center">领先优势之服务</h3>
                                    <div class="entry-excerpt ">
                                        <h4 class="title">先进的管理体系卓越的服务模式</h4>
                                        <div class="entry-content-text">
                                            中兰环保拥有丰富的销售经验以及专业知识，为客户提供产品质量咨询及技术支持服务，高效能的设备管理，与后勤支持系统，让客户随时随地都能享受到中兰环保的顾问式经营模式及一站式个性服务。
                                        </div>

                                    </div>
                                    <div class="entry-excerpt ">
                                        <h4 class="title">顾问式销售模式</h4>
                                        <div class="entry-content-text">
                                            为了能够及时有效解决客户技术和生产问题，中兰环保的专家技术团队，无时无刻为客户提供做高效的解决方案。
                                        </div>

                                    </div>
                                    <div class="entry-excerpt">
                                        <h4 class="title">一站式个性服务</h4>
                                        <a name="3"></a>
                                        <div class="entry-content-text">
                                            为进一步提高服务水平，中兰环保为客户提供从机型选择、安装调整、人员培训、运行跟踪、售后维修等一站式个性服务。
                                        </div>
                                    </div>

                                    <p>&nbsp;</p>
                                    <div>
                                        <h3 class="text-center">承担的责任</h3>

                                        <div class="entry-excerpt ">

                                            <div class="entry-content-text">
                                                中兰人，为建设绿色家园而努力</div>
                                            <div class="entry-content-text">ENTERPRISE MISSION</div>
                                            <div class="entry-content-text">为了儿童的未来---没有破坏的发展</div>
                                            <div class="entry-content-text">Only One Future for Our Children
                                                --Development Without Destruction</div>
                                            <div class="entry-content-text">幼吾幼以及人之幼</div>
                                            <div class="entry-content-text">我们愿所有的孩子都能</div>
                                            <div class="entry-content-text">伴着虫鸣，携着花香，踏着流水，拥着清风</div>
                                            <div class="entry-content-text">呼吸新鲜的空气，享受大自然的美丽</div>
                                            <div class="entry-content-text">快乐健康的成长</div>
                                            <div class="entry-content-text">保护你的，我的，大家的家园</div>
                                            <div class="entry-content-text">是我们的责任
                                            </div>

                                        </div>
                                        <div class="entry-excerpt ">
                                            <h4 class="title">顾问式销售模式</h4>
                                            <div class="entry-content-text">
                                                为了能够及时有效解决客户技术和生产问题，中兰环保的专家技术团队，无时无刻为客户提供做高效的解决方案。
                                            </div>

                                        </div>
                                    </div>
                                    <!--<div class="video-about">-->
                                        <!--<div class="video-haft video bond-row">-->
                                            <!--<div id="bg-video">-->
                                                <!--<div class="video-section" id="video-section" data-property="{videoURL:'https://youtu.be/LSAkHis24eo',containment:'.video', autoplay:false}"></div>-->
                                            <!--</div>-->
                                            <!--<div id="video-controls" style="display: block;">-->
                                                <!--<a class="video-icon small fa fa-play" id="video-play" href="#"></a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="two-haft wrap-box">-->
                                            <!--<h6>Frequently Asked Questions</h6>-->
                                            <!--<div class="flat-accordion">-->
                                                <!--<div class="flat-toggle">-->
                                                    <!--<div class="toggle-title active">Is there anything I should bring?</div>-->
                                                    <!--<div class="toggle-content">-->
                                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
                                                            <!--sed do eiusmod tempor incididunt ut labore et dolore magna-->
                                                            <!--aliqua. Ut enim ad minim veniam quis nostrud exercitation-->
                                                            <!--ullamco laboris nisi ut aliquip ex ea commodo con</p>-->
                                                    <!--</div>-->
                                                <!--</div>&lt;!&ndash; /toggle &ndash;&gt;-->
                                                <!--<div class="flat-toggle">-->
                                                    <!--<div class="toggle-title">Where can I find market research reports?</div>-->
                                                    <!--<div class="toggle-content">-->
                                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
                                                            <!--sed do eiusmod tempor incididunt ut labore et dolore magna-->
                                                            <!--aliqua. Ut enim ad minim veniam, quis nostrud exercitation-->
                                                            <!--ullamco laboris nisi ut aliquip ex ea commodo con</p>-->
                                                    <!--</div>-->
                                                <!--</div>&lt;!&ndash; /toggle &ndash;&gt;-->
                                                <!--<div class="flat-toggle">-->
                                                    <!--<div class="toggle-title">Where can I find the Wall Street Journal-->
                                                        <!--?</div>-->
                                                    <!--<div class="toggle-content">-->
                                                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
                                                            <!--sed do eiusmod tempor incididunt ut labore et dolore magna-->
                                                            <!--aliqua. Ut enim ad minim veniam, quis nostrud exercitation-->
                                                            <!--ullamco laboris nisi ut aliquip ex ea commodo con</p>-->
                                                    <!--</div>-->
                                                <!--</div>&lt;!&ndash; /toggle &ndash;&gt;-->
                                            <!--</div>&lt;!&ndash; /.accordion &ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div><!-- /.content-post -->
                            </article>
                        </div><!-- /.post-wrap -->
                    </div>
                </div>
            </div>
        </section>

        <section class="business-financial">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>You will be always aware of all business and financial news !</p>
                        <div class="btn-click">
                            <a href="#" class="btn-black">GET A QUOTE</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div th:replace="footer :: footer"></div>
        </footer>

        <!-- Bottom -->
        <div class="bottom">
            <div th:replace="under :: under"></div>
        </div><!-- bottom -->

        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>

    </div><!-- Boxed -->

    <!-- Javascript -->
    <script type="text/javascript" th:src="@{/javascript/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.easing.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/imagesloaded.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.isotope.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery-waypoints.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.magnific-popup.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.fitvids.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/parallax.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/smoothscroll.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.flexslider-min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/owl.carousel.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery-validate.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.mb.YTPlayer.js}"></script>
    

    <script type="text/javascript" th:src="@{/javascript/main.js}"></script>

</body>

</html>