<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="footer">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-infomation">
                <h3 class="logo-footer"><a href="index.html">SPECIALIST</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="flat-information">
                    <li class="phone"><a href="#">258-556-189</a></li>
                    <li class="address"><a href="#">John Doe, 123 Main St Chicago</a></li>
                    <li class="email"><a href="#">info@greenorganic.com</a></li>
                    <li class="skype"><a href="#">specialist</a></li>
                </ul>
            </div>
        </div><!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">
            <div class="widget widget-out-link">
                <h4 class="widget-title">Our Links</h4>
                <ul class="one-half">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Projects</a></li>
                </ul>
                <ul class="one-half">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
        </div><!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">
            <div class="widget widget-recent-new">
                <h4 class="widget-title">Recent News</h4>
                <ul class="popular-new">
                    <li>
                        <div class="thumb">
                            <img th:src="@{/images/popular/1.jpg}" alt="image">
                        </div>
                        <div class="text">
                            <h6><a href="#">Why Executec - Our Expertise</a></h6>
                            <span>11 Fer , 2017</span>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img th:src="@{/images/popular/2.jpg}" alt="image">
                        </div>
                        <div class="text">
                            <h6><a href="#">Creating Business Value.</a></h6>
                            <span>11 Fer , 2017</span>
                        </div>
                    </li>
                    <li>
                        <div class="thumb">
                            <img th:src="@{/images/popular/3.jpg}" alt="image">
                        </div>
                        <div class="text">
                            <h6><a href="#">Business Planning Series</a></h6>
                            <span>11 Fer , 2017</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">
            <div class="widget widget-letter">
                <h4 class="widget-title">Newsletter</h4>
                <p class="info-text">Subscribe our newsletter gor get notification about new updates, information discount,</p>
                <form novalidate="" class="subscribe-form" id="subscribeform" method="post" action="#">
                    <p class="comment-form-email">
                        <input type="email" placeholder="Enter Your Email" size="30" value="" name="email" id="emailsubscribe">
                    </p>
                    <p class="form-submit">
                        <button class="flat-btn comment-submit">SUBSCRIBE</button>
                    </p>
                </form>
            </div>
        </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
</div><!-- /.container -->
</body>
</html>