<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="footer">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-infomation">
                <h3 class="logo-footer"><a href="index.html">中兰环保</a></h3>
                <p>保护你的，我的，大家的家园，是我们的责任。</p>
                <ul class="flat-information">
                    <li class="phone"><a href="#"> 0579-82361358</a></li>
                    <li class="address"><a href="https://www.amap.com/place/B0FFIP450C">浙江省金华市金义都市新区</a></li>
                    <li class="email"><a href="#"></a>邮箱</li>
                    <!--<li class="fax"><a href="#">传真</a></li>-->
                </ul>
            </div>
        </div><!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">
            <div class="widget widget-out-link">
                <h4 class="widget-title">Our Links</h4>
                <ul class="one-half">
                    <li><a href="/">主页</a></li>
                    <li><a href="/about">关于</a></li>
                    <li><a href="/service">服务</a></li>
                    <li><a href="/news">新闻</a></li>
                </ul>
            </div>
        </div><!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">
            <div class="widget widget-recent-new">
                <h4 class="widget-title">近期合作公司</h4>
                <ul class="popular-new">
                    <li>
                        <div class="thumb">
                            <img th:src="@{/images/popular/1.jpg}" alt="image">
                        </div>
                        <div class="text">
                            <h6><a href="/service/article/1">湖北精羽管业</a></h6>
                            <span>11 Fer , 2017</span>
                        </div>
                    </li>
                    <p>&nbsp;</p>
                    <li>
                        <div class="thumb">
                            <img th:src="@{/images/popular/2.jpg}" alt="image">
                        </div>
                        <div class="text">
                            <h6><a href="/service/article/2">北京紫禁城漆业</a></h6>
                            <span>11 Fer , 2017</span>
                        </div>
                    </li>
                    <!--<li>-->
                        <!--<div class="thumb">-->
                            <!--<img th:src="@{/images/popular/3.jpg}" alt="image">-->
                        <!--</div>-->
                        <!--<div class="text">-->
                            <!--<h6><a href="#">Business Planning Series</a></h6>-->
                            <!--<span>11 Fer , 2017</span>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div><!-- /.col-md-3 -->

        <div class="col-md-3 col-sm-6">
            <div class="widget widget-letter">
                <h4 class="widget-title">订阅我们</h4>
                <p class="info-text">订阅我们的新闻通讯获取有关新更新。</p>
                <form novalidate="" class="subscribe-form" id="subscribeform" method="post" action="#">
                    <p class="comment-form-email">
                        <input type="email" placeholder="输入您的邮箱" size="30" value="" name="email" id="emailsubscribe">
                    </p>
                    <p class="form-submit">
                        <button class="flat-btn comment-submit">订阅</button>
                    </p>
                </form>
            </div>
        </div><!-- /.col-md-3 -->
    </div><!-- /.row -->
</div><!-- /.container -->
</body>
</html>