<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title></title>

    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap.css}" >

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/style.css}">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/colors/color1.css}" id="colors">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/responsive.css}">
    
    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/animate.css}">

    <!--[if lt IE 9]>
    <script src="../static/javascript/html5shiv.js"></script>
    <script src="../static/javascript/respond.min.js"></script>
    <![endif]-->
</head>                                 
<body class="header-sticky">   
    <!-- Preloader -->
    <section class="loading-overlay">
        <div class="Loading-Page">
            <h2 class="loader">Loading</h2>
        </div>
    </section>  

    <!-- Boxed -->
    <div class="boxed">

        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                      
                        <ul class="flat-information mgl2">
                            <li class="phone"><a href="#">215-598-385</a></li>
                            <li class="address"><a href="#">1341 W Mockingbird, NewYork</a></li>
                            
                        </ul> 
                        <div class="flat-language">                        
                            <ul class="unstyled">
                                <li class="current"><a href="#">English</a>
                                    <ul class="unstyled">
                                        <li class="en"><a href="#">French</a></li>
                                        <li class="ge"><a href="#">German</a></li>
                                    </ul>
                                 </li>
                            </ul>
                       </div>                    
                    </div><!-- /.col-md-6 -->       
                    <div class="col-md-6">
                        <ul class="social-links mgr2">
                            <li><a href="#"><i class="social_facebook"></i></a></li>
                            <li><a href="#"><i class="social_twitter"></i></a></li>
                            <li><a href="#"><i class="social_vimeo"></i></a></li>
                            <li><a href="#"><i class="social_instagram"></i></a></li>
                            <li><a href="#"><i class="social_skype"></i></a></li>
                        </ul>
                    </div>        
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.top -->

        <!-- Header -->            
        <header id="header" class="header header-classic clearfix">
            <div th:replace="header :: header"></div>
        </header><!-- /.header -->

        <div class="wrap-slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title">
                            <div class="breadcrumbs mgl2">
                                <ul>
                                    <li><a href="#">主页</a></li>
                                    <li>提供服务</li>
                                </ul>
                            </div><!-- breadcrumb -->
                            <!-- <div class="page-content ">
                                <span>Grid</span>
                            </div> -->
                        </div><!-- page-title -->
                    </div>
                </div>
            </div><!-- container -->
        </div><!-- wrap-slider -->

        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="sidebar">
                            <div class="widget widget-categories style2">
                                <h4 class="widget-title">最近服务案例</h4>
                                <ul class="cotegories">
                                    <li th:each="product:${products_3days}">
                                        <a th:href="@{'/service/article/'+${product.getId()}}" th:text="${product.getTitle()}"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget widget-amazing">
                                <div class="flat-amazing">
                                    <span>联系方式</span>
                                    <p align="left">电话：0579-82361358</p>
                                    <p align="left">传真：0579-82361358</p>
                                    <p align="left">手机：18006558385</p>
                                    <p align="left">联系人：叶晓芳</p>
                                    <p align="left">网址：www.jhzhonglan.com</p>
                                    <p align="left">地址：浙江省金华市金义都市新区</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="">全部服务</div>

                        <li th:each="product:${products}">
                            <a th:href="@{'/service/article/'+${product.getId()}}" th:text="${product.getTitle()}"></a>
                        </li>

                        <!--<div class="blog-pagination">-->
                            <!--<ul class="flat-pagination">-->
                                <!--<li class="active"><a href="#">1</a></li>-->
                                <!--<li><a href="#">2</a></li>-->
                                <!--<li class="next"><a href="#">Next</a></li>-->
                            <!--</ul>&lt;!&ndash; /.flat-pagination &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /.blog-pagination &ndash;&gt;       -->
                    </div>
                </div>
            </div>
        </section>

        <section class="flat-row row-small bg-theme section-icon-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="iconbox left style2 pdl-first">
                            <div class="box-header">
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="box-content">
                                <div class="box-title">FREE SHIPPING</div>    
                                <p>Suffered Alteration in Some Form.</p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="iconbox left style2 pdl-second">
                            <div class="box-header">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="box-content">
                                <div class="box-title">CASH ON DELIVERY</div>    
                                <p>The internet Tend To Repeat</p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="iconbox left style2 pdl-three">
                            <div class="box-header icon-rotate">
                                <i class="fa fa-repeat"></i>
                            </div>
                            <div class="box-content">
                                <div class="box-title">45 DAYS RETURN</div>    
                                <p>Making it Look Like Readable</p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="iconbox left style2 pdl-four">
                            <div class="box-header">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="box-content">
                                <div class="box-title"> OPENING ALL WEEK</div>    
                                <p>8AM - 09PM</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div th:replace="footer :: footer"></div>
        </footer>

        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="copyright"> 
                    <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                </div>
                <ul class="social-links">
                    <li><a href="#"><i class="social_facebook"></i></a></li>
                    <li><a href="#"><i class="social_twitter"></i></a></li>
                    <li><a href="#"><i class="social_vimeo"></i></a></li>
                    <li><a href="#"><i class="social_instagram"></i></a></li>
                    <li><a href="#"><i class="social_skype"></i></a></li>
                </ul>                   
            </div><!-- /.container -->
        </div><!-- bottom -->

         <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>  

    </div><!-- Boxed -->
    
    <!-- Javascript -->
    <script type="text/javascript" th:src="@{/javascript/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.easing.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/imagesloaded.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.isotope.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery-waypoints.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.magnific-popup.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.fitvids.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/parallax.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/smoothscroll.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.flexslider-min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/owl.carousel.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery-validate.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery.mb.YTPlayer.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery-ui.js}"></script>
    
    

    <script type="text/javascript" th:src="@{/javascript/main.js}"></script>

</body>
</html>

