<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
    <div class="container" th:fragment="top">
        <div class="row">
            <div class="col-md-6">
                <ul class="flat-information mgl2">
                    <li class="phone"><a href="#">0579-82361358</a></li>
                    <li class="address"><a href="https://www.amap.com/place/B0FFIP450C">浙江省金华市金义都市新区</a></li>

                </ul>
                <!--<div class="flat-language">-->
                    <!--<ul class="unstyled">-->
                        <!--<li class="current"><a href="#">English</a>-->
                            <!--<ul class="unstyled">-->
                                <!--<li class="en"><a href="#">French</a></li>-->
                                <!--<li class="ge"><a href="#">German</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <ul class="social-links mgr2">
                    <li><a href="#"><i class="social_facebook"></i></a></li>
                    <li><a href="#"><i class="social_twitter"></i></a></li>
                    <li><a href="#"><i class="social_vimeo"></i></a></li>
                    <li><a href="#"><i class="social_instagram"></i></a></li>
                    <li><a href="#"><i class="social_skype"></i></a></li>
                </ul>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
    </body>
</html>