<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Bottom -->
<div class="bottom" th:fragment="under">
    <div class="container">
        <div class="copyright">
            <p>Copyright &copy; 2018.金华中兰环保科技有限公司<a target="_blank" href="#"></a></p>
        </div>
        <ul class="social-links">
            <li><a href="#"><i class="social_facebook"></i></a></li>
            <li><a href="#"><i class="social_twitter"></i></a></li>
            <li><a href="#"><i class="social_vimeo"></i></a></li>
            <li><a href="#"><i class="social_instagram"></i></a></li>
            <li><a href="#"><i class="social_skype"></i></a></li>
        </ul>
    </div><!-- /.container -->
</div><!-- bottom -->
</body>
</html>